@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

$lightBlue: rgb(51, 152, 235);
$darkBlue: rgb(5, 25, 80);

@mixin flexing($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

body {
  #root {
    background: $darkBlue;
  }
  #app {
    @include flexing(column, center, space-evenly);
    max-height: 550px;
    height: 70vh;
    min-height: 300px;
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    border: 1px solid $lightBlue;
    border-radius: 20px;
    // background: $lightBlue;
    background-color: transparent;
    color: gold;
   

    //icons
    .fas {
      background: transparent;
      color: $lightBlue;
      cursor: pointer;
      width: 100%;
      height: 100%;
      font-size: 1.4rem;
      @include flexing(column, center, center);
      transition: 0.5s;
      border: 0;
      outline: 0;
      padding: 0 !important;

      &:hover {
        background: $lightBlue;
        color: whitesmoke;
      }
    }
    .danger {
      color: rgba(230, 46, 46, 0.692);
    }
    .disable {
      cursor: not-allowed !important;
    }
    .secIcon {
      font-size: 1.5rem;
    }

    // title section
    #title {
      font-size: 2.7rem;
      @include flexing(column, center, center);
      @media screen and (max-height: 700px) {
        & {
          line-height: 1;
          font-size: 2.2rem;
        }
      }
    }

    //all sections
    .sex {
      // background: lemonchiffon;
      background-color: transparent;
      width: 100%;
      height: 18%;
      text-align: center;
      border-radius: 20px;
    }

    // options section
    #options {
      // flex: 1;
      @include flexing(row, center, space-evenly);
      .opt {
        @include flexing(column, none, center);
        border: 2px solid $lightBlue;
        border-radius: 12px;
        width: 50%;
        height: 85%;
        margin: auto auto;
        border-radius: 3px;

        header {
          width: 90%;
          margin-block: auto;
          margin-inline: auto;
          font-size: 1.2rem;
          @media screen and (max-height: 700px) {
            & {
              line-height: 1;
              font-size: 0.9rem;
            }
          }
        }
        .changers {
          @extend header;
          // background-color: red;
        }
        .length {
          font-size: 22px;
          margin-inline: 7px;
        }
      }
      #break-label {
        margin-right: 10px;
        border-left: none;
      }
      #session-label {
        border-right: none;
        margin-left: 10px;
      }
    }

    //counter section
    #counter {
      height: 30%;
      margin-block: 10px;
      #time-wrapper {
        // background: red;
        width: 70%;
        height: 100%;
        margin-inline: auto;
        border: 4px solid $lightBlue;
        border-radius: 20px;

        #timer-label{
          font-size: 1.7rem;
        }

        .title {
          width: 100%;
          height: 30%;
          @include flexing(column, center, center);
        }
        .time {
          width: 100%;
          height: 70%;
          font-size: 4rem;
          text-align: center;
          @include flexing(column, center, center);

          @media screen and (max-width: 700px) {
            & {
              font-size: 3.2rem;
            }
          }
        }
      }
    }

    //buttons
    #buttons {
      height: 8%;
      @include flexing(row, center, center);
      margin-block: 10px;
      padding-block: auto;

      .keys {
        height: 90%;
        width: 17%;
        margin-inline: 2%;
        cursor: pointer;
      }
      #start_stop {
        display: flex;
        background: white;
        color: $lightBlue;
        cursor: pointer;
        font-size: 1.4rem;
        @include flexing(row, center, center);
        transition: 0.5s;
        border: 0;
        outline: 0;
        padding: 0 !important;

        &:hover {
          background: $lightBlue;
          color: white !important;
        }
      }
    }

    //Author Section
    #author {
      height: 8%;
      text-align: center;
      padding-block: 2%;
      line-height: 1.4;
      font-size: 1.2rem;

      @media screen and (max-height: 700px) {
        & {
          line-height: 1;
          font-size: 0.9rem;
        }
      }
    }
  }
}
